- var pagetitle = "Home"
- var pagedesc = "Home"
- var pagename = "home"
- var folder = ""

include /includes/header

<!--  ====================  -->
<!--  === Main content ===  -->
<!--  ====================  -->
main( role="main" )
	.container
		.row
			p #{pagename}
				
include /includes/footer